.Header {
  position: fixed;
  width: 100%;
  padding: 50px 0;
  z-index: 100;
  transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
}

.HeaderScrolled {
  background: rgba(0, 0, 0, 0.4);
  padding: 15px 0;
  backdrop-filter: blur(20px);
}


.HeaderGroup {
  max-width: 1000px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, auto);
  align-items: center;
}

.Header button {
  padding: 8px 20px;
  background: black;
  border: 1px solid black;
  border-radius: 12px;
  outline: none;
  cursor: pointer;
  color: white;
  font-size: 18px;
  transition: 1s cubic-bezier(0.2, 0.8, 0.2, 1);
}

.Header button:hover {
  background: white;
  box-shadow: 0 10px 20px rgba(0,0,0,0);
  color: black;
  transform: translateY(-3px);
}

@media (max-width: 640px) {
  .Header {
    padding: 15px 0;
  }
  .HeaderGroup {
    grid-template-columns: repeat(3, auto);
  }

  .Header a:nth-child(4) {
    display: none;
  }
}
